.transaction-form {
  width: 100%;
}

.transaction-form .form-group {
  margin-bottom: 20px;
}

.transaction-form input[type="number"] {
  font-size: 16px;
}

/* Remove number input spinners */
.transaction-form input[type="number"]::-webkit-inner-spin-button,
.transaction-form input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.transaction-form input[type="number"] {
  -moz-appearance: textfield;
}
